[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
altair = "==2.0.0rc1"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
